/* configuracion basica de un archivo css */
/* 1) tipografia */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 2) iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* 3) variables */
:root {
    --primary-color: #e58411;
    --gray-color: #f7f7f7;
    --white-color: #ffff;
    --dark-color: #1e1e1e;

    --fs-title1: 80px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;
}

/* 4) estilos generales */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

p,
a,
button,
li,
table,
input,
select,
textarea,
span {
    font-family: "Raleway", sans-serif;
}
body{
    overflow-x: hidden;
}
/* 5) desktop */
header {
    width: 100%;
    position: relative;
    height: 200vh;
    background: url("../img/Rectangle\ 1441.png");
    background-size: cover;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: center;
    padding-top: 40px;
}

.bg-transparente {
    background: transparent;
}

header nav .logo {
    color: var(--white-color);
    font-weight: 700;
    font-size: 28px;
}

header nav .logo:hover {
    color: var(--white-color);
    transform: scale(1.2);
    transition: .5s;
}

#navbarNav li a {
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: 1.5s;
}

#navbarNav li a:hover {
    border-bottom: 2px solid var(--white-color);
}

header .bag-button {
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 26px;
    position: relative;
}

header .bag-button .counter-products {
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

#hero {
    width: 100%;
    text-align: center;
    padding: 90px;
}

#hero h2 {
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 700;
}

#hero p {
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 40px 250px;
}

#hero form {
    width: 400px;
    position: relative;
    margin: 0 auto;
}

#hero form input {
    border-radius: 40px;
    padding: 15px 44px 15px 20px;
    width: 370px;
    font-size: var(--fs-title4);
    border: 2px solid white;
    background: #ffffff4a;
    color: var(--white-color);
    outline: none;
}

#hero form input::placeholder {
    color: var(--white-color);
}

#hero form button {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 50%;
    color: var(--white-color);
    position: absolute;
    right: 20px;
    bottom: 10px;
    border-color: transparent;
}

/* estilos name */
#choosing-us {
    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}

#choosing-us h2 {
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
}

#choosing-us h3 {
    font-size: var(--fs-title3);
    font-size: 700;
    color: var(--dark-color);
}

#choosing-us p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#choosing-us a {
    color: var(--primary-color);
    text-decoration: none;
}

#choosing-us a i {
    margin-left: 4px;
    transition: 1.5s;
}

#choosing-us a:hover i {
    margin-left: 15px;
}

#products {
    width: 100%;
    position: relative;
    padding: 50px 0;
    background: var(--gray-color);
    text-align: center;
    border: none;
}

#products h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
    border: none;
}

#products ul {
    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    border: none;
}

#products li button {
    color: var(--dark-color);
    padding: 10px 30px;
    border: none;
}

#products li button:hover {
    border: none;
}

#products li button.active {
    background: var(--white-color);
    border-radius: 30px;
    border: none;

}

#products .card-product {
    margin: 0 15px;
}

#products .card-product .cont-img {
    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;
}

#products .cont-img img {
    width: 220px;
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 0;
    right: 0;

}

#products .slick-list {
    padding: 100px 0;
}

#products .cont-info {
    background: white;
    text-align: left;
    padding: 0 0 20px 20px;
}

#products .cont-info p.category {
    font-size: var(--fs-text);
    color: #8d8d8d;
}

#products .cont-info h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--dark-color);
}

#products .stars i {
    color: #f6b76f;
}

#products .stars {
    margin-bottom: 30px;
}

#products .card-product h4 {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    margin: 0;
}

#products .card-product h4 span {
    font-size: 15px;
    margin-right: 4px;
}

#products .card-product button {
    background: #0d1b39;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: var(--white-color);
    font-size: 24px;
}

#products .slick-arrow {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdada;

}

#products .slick-arrow::before {
    color: #0d1b39;
}

#experiences {
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#experiences .cont-img {
    position: relative;
    left: -20px;
}

#experiences .cont-img img {
    box-shadow: -15px 16px 15px -10px #af7d43;
}

#experiences .cont-img::before {
    content: "";
    width: 400px;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    top: -60px;
}

#experiences .cont-img::after {
    content: "";
    width: 300px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: 70px;
    right: 80px;
    border-radius: 20px;
}

#experiences .cont-info {
    padding: 20px 60px 0 0;
}

#experiences .cont-info h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
}

#experiences .cont-info h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
    border: none;
}

#experiences .cont-info p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#experiences .cont-info a {
    color: var(--primary-color);
    text-decoration: none;
}

#experiences .cont-info a i {
    margin-left: 4px;
    transition: 1.5s;
}

#experiences .cont-info a:hover i {
    margin-left: 15px;
}

/* materials */
#materials {
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#materials .cont-info {
    padding: 120px 60px 0 50px;
}

#materials .cont-info h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: var(--fs-title4);
    margin-bottom: 20px;
}

#materials .cont-info h2 {
    padding-right: 80px;
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--dark-color);
    border: none;
}

#materials .cont-info p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#materials .cont-info a {
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
}

#materials .cont-info a i {
    margin-left: 8px;
    transition: .5s;
    position: absolute;
    top: -1px;
}

#materials .cont-info a:hover i {
    margin-left: 15px;
}

#materials .cont-img .top{
    margin-bottom: 26px;
    box-shadow: -3px 12px 15px -10px #d7e5e7;
}
#materials .cont-img .bottom{
    box-shadow: -3px 12px 15px -10px #c8bab8;
}

#materials .cont-img::before {
    content: "";
    width: 495px;
    height: 301px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: 200px;
    border-radius: 20px 0 0;
    right: -200px;
}

#materials .cont-img img .centro {
    position: absolute;
    bottom: -200px;
    right: 0px;
    box-shadow: -3px 16px 15px -10px #cb8139;
}

/* reviews */
#reviews{
    width: 100%;
    padding: 90px;
    text-align: center;
    position: relative;

}
#reviews h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: var(--fs-title4);
    margin-bottom: 20px;
}

#reviews h2 {
    padding-right: 80px;
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--dark-color);
    border: none;
}
#reviews .card-reviews{
    position: relative;
}
#reviews .card-reviews .cont-info{
    background: var(--white-color);
    position: absolute;
    width: 78%;
    bottom: 90px;
    border-radius: 30px;
    left: 7%;
    padding-bottom: 40px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
#reviews .card-reviews .cont-info img{
    position: absolute;
    top: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 10px solid white;
    border-radius: 50%;
}
#reviews .card-reviews .cont-info h4{
    font-size: var(--fs-title3);
    color: var(--dark-color);

}
#reviews .card-reviews .cont-info h5{
    font-size: 12px;
    color: var(--dark-color);
    color: #666;
    font-weight: 300;
}
#reviews .card-reviews .stars i {
    color: #f6b76f;
    letter-spacing: 4px;
}

#reviews .card-reviews .stars {
    margin-bottom: 30px;
}
#reviews .card-reviews .stars i:nth-child(5){
    opacity: 0.5;
}
#reviews .slick-arrow {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdada;

}
#reviews .slick-arrow::before {
    color: #0d1b39;
}



/* 6) table */
@media screen and (min-width: 768px) and (max-width: 1080) {}

/* 7) smartphone */
@media screen and (min-width: 320px) and (max-width: 767px) {}